Исследуем набор данных об аренде велосипедов в Чикаго:

Описание данных:

**trip_id** – id поездки;

**start_time** – Дата и время начала поездки;

**end_time** – Дата и время конца поездки;

**bikeid** – id велосипеда;

**tripduration** – продолжительность поездки в минутах;

**from_station_id** – id станции начала поездки;

**from_station_name** – название пункта отправления;

**to_station_id** – id пункта прибытия;

**to_station_name** – название пункта прибытия;

**gender** – пол (если subscriber);

**birthyear** – год рождения (если subscriber).

In [1]:
import pandas as pd
import scipy
from scipy import stats
from scipy import linalg
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as ss

In [2]:
bikes_Q1 = pd.read_csv('/Users/siarheimasliankou/Documents/Work/DA_Practice/Python/Task_8/Tasks_from_3_topic/bikes_q1_sample.csv')

In [3]:
#Возьмем данные только за Q1 и подготовим данные. Поместим колонку start_time в качестве индексов и сохраним изменения в исходный датасет. 
#Предварительно проверим тип переменной:


bikes_Q1['start_time'] = pd.to_datetime(bikes_Q1['start_time'])
bikes_Q1['end_time'] = pd.to_datetime(bikes_Q1['end_time'])

bikes_Q1.sort_values(by='start_time', inplace=True)

bikes_Q1 = bikes_Q1.set_index('start_time')

In [8]:
#В данных имеется как дата аренды, так и её точное время начала и окончания с точностью до секунд. 
#Применим метод pd.resample() и агрегируем данные по дням:

res = bikes_Q1.resample(rule='D').agg({'trip_id': 'count'})
res

            trip_id
start_time
2018-01-01      191
2018-01-02      759
2018-01-03     1097
2018-01-04     1112
2018-01-05     1004
...             ...
2018-03-27     2756
2018-03-28     3640
2018-03-29     2800
2018-03-30     2913
2018-03-31     1844

[90 rows x 1 columns]

In [11]:
#Посмотрим на распределение количества аренд для разных групп пользователей (usertype) — customers и subscribers 
#в данных за апрель:

df = pd.read_csv('/Users/siarheimasliankou/Documents/Work/DA_Practice/Python/Task_8/Tasks_from_3_topic/bikes_april.csv')

In [14]:
df['start_time'] = pd.to_datetime(df['start_time'])
df['end_time'] = pd.to_datetime(df['end_time'])

In [16]:
df.sort_values(by='start_time', inplace=True)

df = df.set_index('start_time')

In [54]:
#Сделаем ресемпл по дням для каждой группы:

apr = df.groupby('usertype').resample(rule='D').agg({'trip_id': 'count'})

#Посмотрим, для примера, данные за 18 апреля:

sp_date = '2018-04-18'
w = apr.loc[(slice(None), sp_date), :]
w

                       trip_id
usertype   start_time
Customer   2018-04-18       45
Subscriber 2018-04-18     2196